.buttonDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  button {
    border-radius: 5px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      background-color: bisque;
    }
  }
}
.section {
  padding-top: 20px;
  padding-bottom: 10px;
}
